# Ignore hosts directory
/pcp_hosts

# Ignore venv files
venv/

# Ignore compiled binaries, and module objects
src/uhandlers/pibox_unetlink
/src/drivers/input/*
!/src/drivers/input/pibox_kb.c
!/src/drivers/input/pibox_kbbak.c

# Ignore vs code configs
.vscode
