# Ignore hosts directory
/pcp_hosts

# Ignore venv files
venv/

# Ignore compiled binaries, and module objects
uhandlers/netlink/pibox_unetlink
drivers/input/*
!drivers/input/pibox_kb.c
!drivers/input/pibox_kbbak.c
!drivers/input/Makefile

objs/

# Ignore vs code configs
.vscode
